.Commentbar {
  position: fixed;
  top: 0;
  right: -360px;
  width: 360px;
  height: 100%;
  background-color: #fffefe;
  z-index: 1000;
  transition: right 0.3s ease;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.Commentbar.open {
  right: 0;
}

.Commentbar .close {
  position: fixed;
  top: 1em;
  right: 12.4em;
  cursor: pointer;
  color: #dddada;
  font-size: 30px;
  z-index: 1001;
}

.Commentbar .sentmsg {
  flex: 1;
  padding: 2%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .Commentbar {
    width: 250px;
  }

  .Commentbar .close {
    right: 8.9em;
  }
}

.Commentbar .sentmsg::-webkit-scrollbar {
  width: 5px;
}

.Commentbar .sentmsg::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.Commentbar .sentmsg::-webkit-scrollbar-thumb {
  background: #888;
}

.Commentbar .sentmsg::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Commentbar .comment {
  position: relative;
  padding: 2%;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.commentBox .comment p {
  text-align: left;
  font-size: .8vw;
  font-weight: 600;
  font-family: "Quicksand", Verdana, sans-serif;
  color: #000000;
  margin-top: 0;
}


.commentBox .comment .content {
  text-align: left;
  font-size: 1.6vw;
  font-weight: 300;
  font-family: "Quicksand", Verdana, sans-serif;
  color: #4f515b;
  margin-top: 0;

}
.commentBox .comment .subtimes {
  text-align: left;
  font-size: .8vw;
  font-weight: 600;
  font-family: "Quicksand", Verdana, sans-serif;
  color: #000000;
  margin-top: 0;

}

.commentBox .comment .FP {
  text-align: left;
  margin-top: 1vw;
  font-size: 1.2vw;
  font-weight: lighter;
  margin-bottom: 0.8vw;
  font-family: "Quicksand", Verdana, sans-serif;
  color: #626c72;
}


@media screen and (max-width:768px) {

  .Commentbar .comment p {
    text-align: left;
    font-size: 1.9vw;
    font-weight: 600;
    font-family: "Quicksand", Verdana, sans-serif;
    color: #000000;
    margin-top: 0;
  }

  .commentBox .comment .FP {
    text-align: left;
    margin-top: 1vw;
    font-size: 3.5vw;
    line-height: 24px;
    font-weight: lighter;
    margin-bottom: 0.8vw;
    font-family: "Quicksand", Verdana, sans-serif;
    color: #626c72;
  }

}



.Commentbar .comment .buttons {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.Commentbar .replyButton,
.Commentbar .deleteButton {
  all: unset;
  border-radius: 5px;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s linear;
  color: #1f5582;
  
}

.Commentbar .replyButton:hover {
  transform: scale(0.9);
  color: rgb(0, 21, 255);
}

.Commentbar .deleteButton:hover {
  transform: scale(0.9);
  color: #d33;
}

.Commentbar .replyBox {
  border-left: 2px solid #007bff;
}

.Commentbar .replies {
  margin: 0.5em 0;
}


.Commentbar .replies button {
  all: unset;
  border-radius: 5px;
  font-size: 0.9vw;
  font-weight: 600;
  cursor: pointer;
  color: #1f5582;
}

.Commentbar .replies button:hover{
  color: rgb(248, 190, 66);
}


.Commentbar .text {
  padding: 15px;
  display: flex;
  align-items: center;
}

.Commentbar .Commentsec {
  flex: 1;
  padding: 10px;
  border: 1px solid #d2ddff;
  border-radius: 24px;
  margin-right: 10px;
  width: 90%;
  margin-top: 0.5em;
}

.Commentbar .Commentsec:focus {
  border-color: #d33;
  outline: none;
}

.Commentbar .sendbtn {
  color: #4f515b;
  cursor: pointer;
}

.Commentbar .sendbtn:hover {
  transform: scale(0.9);
}

.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.commentHeader {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  font-weight: bold;
  margin-right: 10px;
}
