/* Variables for light theme */
:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --card-background-color-light: #f0f0f0;
    --box-shadow-light: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --hover-box-shadow-light: 0px 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  /* Variables for dark theme */
  [data-theme='dark'] {
    --background-color-dark: #15171a;
    --text-color-dark: #ffffff;
    --card-background-color-dark: #242424;
    --box-shadow-dark: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --hover-box-shadow-dark: 0px 8px 20px rgba(0, 0, 0, 0.15);
    --border-color-dark: #ffffff;
    --input-background-dark: #2a2a2a;
  }
  
 
  .main {
    padding-left: 20%;
    padding-top: 1%;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    min-height: 110vh;
  }
  
  .main.dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  
  @media screen and (max-width: 1024px) {
    .main {
      padding-left: 0%;
    }
  }
  
  .Blog {
    padding-left: 20%;
    padding-top: 1%;
    background: var(--background-color-light);
    min-height: 100vh;
  }
  
  .Blog.dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  
  @media screen and (max-width: 1024px) {
    .Blog {
      padding-left: 0%;
    }
  }
  
  .chart {
    width: 96%;
    padding: 2%;
    box-shadow: var(--box-shadow-light);
    margin-top: 1em;
  }
  
  .chart.dark {
    box-shadow: var(--box-shadow-dark);
  }
  
  .Searching {
    width: 96%;
    padding: 1%;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    display: flex;
    align-items: center;
    background-color: var(--background-color-light);
    border-radius: 8px;
    border: 1px solid #ddd;
    flex-wrap: wrap;
  }
  
  .Searching.dark {
    background-color: var(--input-background-dark);
    border-color: var(--border-color-dark);
  }
  
  .search {
    color: #555;
    margin-right: 8px;
  }
  
  .search.dark {
    color: var(--text-color-dark);
  }
  
  .Searching > input {
    all: unset;
    flex: 1;
    padding: 8px;
    background: none;
    font-size: 16px;
    color: #333;
    min-width: 0; /* ensures proper resizing */
  }
  
  .Searching > input.dark {
    color: var(--text-color-dark);
  }
  
  .Searching > input::placeholder {
    color: #aaa;
  }
  
  .Searching > input.dark::placeholder {
    color: var(--text-color-dark);
  }
  
  .searchbutton {
    margin-left: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .searchbutton:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 600px) {
    .Searching {
      flex-direction: column;
      align-items: stretch;
    }
  
    .searchbutton {
      margin-left: 0;
      margin-top: 8px;
      width: 100%;
    }
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider:before {
    transform: translateX(30px);
  }
  
  .form {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 600px) {
    .form {
      width: 95%;
    }
  }
  
  .form.darkForm {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    border: 1px solid;
    border-color: var(--border-color-dark);
  }
  
  .form.lightForm {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color-light);
  }
  
  .formGroup label.dark {
    color: var(--text-color-dark);
  }
  
  .formGroup input,
  .formGroup select,
  .formGroup textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--text-color-light);
    background-color: var(--background-color-light);
  }
  
  .formGroup input.dark,
  .formGroup select.dark,
  .formGroup textarea.dark {
    background-color: var(--input-background-dark);
    color: var(--input-text-dark);
    border-color: var(--border-color-dark);
  }
  
  .submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .imagePreview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .profilePicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
  }
  
  .formGroup textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allows the textarea to be vertically resizable */
    min-height: 100px; /* Sets a minimum height for the textarea */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  }
  
  .formGroup label[for="bio"] {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  