/* Variables for light theme */
:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --card-background-color-light: #f0f0f0;
    --box-shadow-light: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --hover-box-shadow-light: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

/* Variables for dark theme */
[data-theme="dark"] {
    --background-color-dark: #15171a;
    --text-color-dark: #ffffff;
    --card-background-color-dark: #242424;
    --box-shadow-dark: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --hover-box-shadow-dark: 0px 8px 20px rgba(0, 0, 0, 0.15);
    --border-color-dark: #ffffff;
    --input-background-dark: #2a2a2a;
}

.footer {
    background-color: var(--background-color-light);
    text-align: center;
    padding-bottom: 1vw;
}

.footer.dark {
    background-color: var(--background-color-dark);
}

.footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1.8;
   
}

.footer p.dark {
    color: var(--text-color-light);
}

@media screen and (max-width: 768px) {

    .footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        text-align: center;
        font-size: 3.5vw;
        line-height: 1.8;
    }


    .footer {
        padding-bottom: 4vw;
        padding-top: 4vw;
    }


}