.nav {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;

    position: sticky;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    transition: height 0.5s, box-shadow 0.3s;
    z-index: 1;
}

.nav.scrolled {
    background: white;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav ul li{
    transition: all 0.4s linear;
}

.nav ul li:hover{
    color: #d33;
}

.logo img {
    width: 2.9vw;
    cursor: pointer;
}


.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1vw;
    color: gray;
    cursor: pointer;
}


.nav ul li {
    all: unset;
    font-weight: 100;
    font-size: 1vw;
    color: black;
    cursor: pointer;
    padding: 0.9vw 0vw;
}

.nav ul {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
}


nav .menu {
    font-weight: 100;
    display: flex;
    gap: 2vw;

}


nav .menu li {
    transition: color 0.3s linear;
    position: relative;
}

nav .menu li:hover {
    color: rgb(232, 44, 44);

}


nav .menu li:hover .submenu {
    display: block;
    box-shadow: 0px -3px red, 0px 2px 15px #c9c6c6;
}

.line {
    color: #c9c6c6;
    width: 100%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    opacity: 0.4;
}

nav .menu .submenu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background: white;
    z-index: 1;

    padding: 0.3vw;
    white-space: nowrap;
    border-radius: 5px;

    margin-top: 0.2vw;
    transition: display 0.6s ease-in-out;
}


nav .menu .submenu li {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 1vw;
    color: black;
}

nav .menu .submenu li:hover {
    color: rgb(232, 44, 44);
}


nav .menu .submenu .submain:hover .submenu {
    display: block;
    box-shadow: 0px -3px red, 0px 2px 15px #c9c6c6;
}

nav .menu .submenu .submain .submenu {
    left: -12vw;
    display: none;
}




@media screen and (max-width:768px) {


    .nav {
        padding: 20px 20px;
    }

    .nav .menu {
        display: none;
    }


    .logo img {
        width: 4vw;
    }


    .logo {
        font-size: 3vw;
    }


    .nav ul li {

        font-size: 3vw;
    }

}


nav .menu .more2 {
    display: none;
}


@media screen and (max-width:1024px) {
    nav .menu .more {
        display: none;
    }

    nav .menu .more2 {
        display: block;
    }
}

nav .menu .more2 .submenu li {
    display: flex;
    gap: 1.2vw;
}


.Error{
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgdiv{
    width: 50%;
}

.Error img{
    width: 100%;
}


.Error h2{
    font-weight: 700;
    color: #4f515b;
    font-size: 2.5vw;
    margin-top: 5px;
}

.Error p{
    font-weight: 100;
    color: #626c72;
    font-size: 1vw;
    margin-top: 5px;
}


@media screen and (max-width:768px) {

    .imgdiv{
        width: 90%;
    }

    
    .Error h2{
        font-size: 8vw;
    }

    .Error p{
      font-size: 3.5vw;
      text-align: center;
    }

}





.link {
    padding: 4%;
    background-color: #F3F5F8;
    display: flex;
    justify-content: space-around;
    transition: color 0.5s ease-in-out;

}

.link div {
    cursor: pointer;
    font-size: 1.2vw;
}

.link div:hover {

    color: #d33;
}




.Usefullink {
    padding: 4%;
    display: flex;
    justify-content: space-around;
    transition: color 0.5s ease-in-out;
    font-family: quicksand;
}

.Usefullink h4 {
    font-size: 1.5vw;
    color: #4f515b;
}

.links {
    padding: 4%;
    display: flex;
    gap: 12vw;
}

.links ul {
    margin-top: 1vw;
}

.links ul li {
    list-style: none;
    padding: 0.6vw 0px;
    line-height: 1.8;
    cursor: pointer;
    font-weight: lighter;
    transition: color 0.3s linear;
}


.links ul li:hover {
    color: #d33;
}


@media screen and (max-width:768px) {
    .link div {
        font-size: 3.2vw;
    }

    .Usefullink {
        flex-direction: column;
        padding-left: 10vw;
    }

}


@media screen and (max-width:600px) {
    .Usefullink {
        flex-direction: column;
        padding-left: 10vw;
    }

    .links {
        padding: 4%;
        flex-direction: column;
        gap: 12vw;
    }

    .Usefullink h4 {
        font-size: 5vw;
        color: #4f515b;
    }

    .links ul li {
        font-size: 3.4vw;
    }

}




.divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lines {
    margin-bottom: 4vw;
    margin-top: 2vw;
    width: 90%;
    color: #4f515b;
}


footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    color: #4f515b;
    font-size: 1.2vw;
    line-height: 1.8;

}


footer {
    padding-bottom: 2vw;
}



@media screen and (max-width: 768px) {
    .maincard h1 {
        font-size: 9vw;
        margin-bottom: 2vw;
    }

    .btn2 {
        width: 50%;

        padding: 2vw;
        border-radius: 1vw;
        font-size: 5vw;
        font-weight: 100;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 6vw;
    }


    .bottomcontainer {
        justify-content: space-evenly;
        gap: 3vw;
    }

    .bottomcontainer ul li {
        list-style: none;
        font-size: 5vw;
        flex-wrap: wrap;
        display: flex;
        font-weight: 100;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        color: #4f515b;
    }


    .divider {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lines {
        margin-bottom: 8vw;
        margin-top: 4vw;
        width: 90%;
        color: #4f515b;
    }


    footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        text-align: center;
        color: #4f515b;
        font-size: 3.5vw;
        line-height: 1.8;
    }


    footer {
        margin-bottom: 4vw;
    }


    .cards h3 {

        padding: 0vw 4vw;
        font-size: 4.3vw;

        font-weight: 300;
        transition: color 0.3s linear;
        line-height: 1.2;

    }

}






/* Existing styles */

/* Hamburger menu icon */

.hamburgerIcon {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: gray;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -330px;
    width: 330px;
    height: 100%;
    background-color: #fffefe;
    z-index: 1000;
    transition: right 0.3s ease;
    border: 1px solid #ccc;
}

.sidebarMenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebarMenu>li {
    padding: 15px 40px;
    cursor: pointer;
    color: #000000;
    transition: all 0.3s linear;
}


.sidebarMenu>li {
    padding: 10px 40px;
    cursor: pointer;
    color: #000000;
    transition: all 0.3s linear;

}


.menu li:hover {
    color: #d33;
}




.sidebarMenu>li:hover {
    padding: 10px 40px;
    color: #d33;
    transition: all 0.3s linear;
}


.open {
    display: block;
}


.sidebarMenu .submenu li {
    padding: 5px 0;
}

.sidebarMenu .submenu li:hover {
    color: #fe0000;
}

.sidebar.open {
    right: 0;
    overflow-y: scroll;
}

/* Style scrollbar */
.sidebar.open::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.sidebar.open::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.sidebar.open::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.sidebar.open::-webkit-scrollbar-thumb:hover {
    background: #555;
}




.close {
    position: fixed;
    top: 1em;
    right: 11.4em;
    cursor: pointer;
    color: #dddada;
    font-size: 30px;
    z-index: 1001;
}



@media screen and (max-width: 992px) {
    .hamburgerIcon {
        display: block;
    }

    .nav .menu {
        display: none;
    }
}

.arrow {
    cursor: pointer;
    float: right;
}

.rotateArrow {
    transform: rotate(180deg);
}

.submenu {
    display: none;
    margin-top: 2vw;
    border-left: 2px solid rgb(62, 62, 62);
    padding-left: 10px;
}


.submenu li {
    color: rgb(0, 0, 0);
    transition: all 0.3s linear;
}


.submenu li:hover {
    color: #d33;
}


.open {
    display: block;
    list-style: none;
}

/* .mainMenu {
    padding: 1em;
    color: #4f515b;
    
    font-family: quicksand, Verdana, sans-serif;
}

.line {
    border: 1px solid #ccc;
    margin: 10px 0;
} */


.sidebarMenu .submenu li {
    padding: 5px 0;
}

.sidebarMenu .submenu li:hover {
    color: #fe0000;
}

.mainMenu {
    padding: 1em;
    color: #4f515b;
    font-family: quicksand, Verdana, sans-serif;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}



.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position the tooltip above the text */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    /* Tooltip shows immediately */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}