* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --text-color-light2: #4f515b;
  --button-background-light: #eeeeee;
  --button-text-light: #000000;

  --background-color-dark: #15171a;
  --text-color-dark: #ffffff;
  --text-color-dark2: #ffffff;
  --button-background-dark: #444444;
  --button-text-dark: #ffffff;

  --border-light: #fff;
  --border-dark: #000;

  --box-shadow-light: 0px 0px 4px #000;
  --box-shadow-dark: 0px 0px 4px #fff;
}

body {
  transition: all 0.3s linear;
}

body.light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  --color: var(--text-color-light2);
  --box-shadow: var(--box-shadow-light);
  --border: var(--border-dark);
}

body.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  --color: var(--text-color-dark2);
  --box-shadow: var(--box-shadow-dark);
  --border: var(--border-light);
}
