.author .title {
    font-weight: 700;
    color: #4f515b;
    margin-bottom: 1rem;
    text-align: center;
}

.authimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.authimg img{
    width: 5em;
    height: 5em;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}

.author p {
    color: #626c72;
    font-size: 1.2vw;
    margin-bottom: 1rem;
    text-align: center;
}



@media screen and (max-width:540px) {
    .author p {
        line-height: 27px;
        font-size: 3.7vw; 
        margin-top: 4.5vw;
    }
}